<body style=background-color:Gainsboro>

style {
        "background-color:#121212;"
        color:#121212;
        color:white;
        }

     p {
    color: white;
    font-size: 20px;
            }